{% extends 'base.html.twig' %}

{% block body %}
    <div class="max-w-7xl mx-auto px-6 py-8">
        <div class=" mt-10 overflow-x-auto bg-white shadow-md rounded-lg">
            <table class="min-w-full text-left border-collapse">
                <thead class="bg-gray-100 border-b">
                <tr>
                    <th class="px-6 py-3 text-sm font-semibold text-gray-600">ID</th>
                    <th class="px-6 py-3 text-sm font-semibold text-gray-600">Name</th>
                    <th class="px-6 py-3 text-sm font-semibold text-gray-600">Surname</th>
                    <th class="px-6 py-3 text-sm font-semibold text-gray-600"></th>
                </tr>
                </thead>
                <tbody class="divide-y">
                {% for person in people %}
                <tr class="hover:bg-gray-50 transition">
                    <td class="px-6 py-4 text-sm text-gray-800">{{ person.id }}</td>
                    <td class="px-6 py-4 text-sm text-gray-800">{{ person.name }}</td>
                    <td class="px-6 py-4 text-sm text-gray-800">{{ person.surname }}</td>
                    <td class="px-6 py-4 flex justify-end gap-2">
                        <a href="/edit/{{ person.id }}" class="inline-block px-4 py-2 text-sm text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition">Edit</a>
                        <a href="/delete/{{ person.id }}" class="inline-block px-4 py-2 text-sm text-white bg-red-500 hover:bg-red-600 rounded-lg transition">Delete</a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
